@charset "utf-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: aqua;
    font-family: sans-serif;
    margin-top: 30px;
    margin-left: 30px;
}
.login{
    width: 360px;
    height: 250px;
    background-color: white;
    border: 1px solid gray;
    margin: 0px auto;
}
h3{
    text-align: center; 
    background-color: orange;
}
table, tr, th, td{
    color: tomato;
    
}

.-color{
    color: blue;
}
.-margin{
    margin-top: 5px;
    margin-left: 10px;
}